$black:#333333;
$white:#EEEEEE;
$gray-dark:#666666;
$gray-light:#999999;
$green:#00a650;
$blue:#3483FA;
$yellow:#FFE600;

$background: $white;

$text1:rgba(0, 0, 0, 0.8);
$text2:rgba(0,0,0,.45);
$text3:$gray-dark;

$border:$white;

$margin-small: 16px;
$margin-medium: ($margin-small * 2);
$margin-big: ($margin-medium * 2);

$shadow: 0 1px 2px 0 rgb(0 0 0 / 25%);

$family: "Proxima Nova", -apple-system, "helvetica Neue", Helvetica, Roboto, Arial, sans-serif;

.btn-accept{
    width: 100%;
    background-color: $blue;
    border-color: transparent;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    display: inline-block;
    font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    height: 48px;
    line-height: 48px;
    padding: 0 24px;
    text-align: center;
    position: relative;
    top: -1px;
    height: 100%;
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
}

.btn-accept:hover{
    background-color: darken( $blue, 15% );
    -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}




