@import '../../globals.scss';

.header{
    width: 100vw;
    background-color: $yellow;
    height: 100px;
}

.nav{
    max-width: 80vw;
    margin: 0 auto;
    padding: 8px 0px;
    margin: 0 auto;
    height: 91px;
    & img{
        width:auto;
        height: 33px;
    }
}
